<body>
   <div>
       <h2>今いるメンバー</h2>
       <ul>
           <li>ぽこつん</li>
           <li>あべたく</li>
           <li>のみー</li>
           <li>そのちゃん</li>
           <li><%= 1945.to_s %></li>
       </ul>
   </div>
</body>
<style>
h2 {
  color: green;
}
