html body {
  height: 100vh;

  .navbar-collapse {
    background-color: grey;
    ul{
      padding-right: 10px;
    }
  }

  .right {
    right: 0 !important;
    left: 0 !important;
  }

  @media only screen and (max-width: 767px) {
    .navbar-collapse{
      background-color:#101010;
      position: fixed;
      top: 0;
      transition:all 0.8s ease-out;
      height: 100%;
      width: 100%;
      left: 700px;
    }
    .navbar-inverse .navbar-nav {
      li a {
        color: #000;
      }
    }
  }

  .navbar-collapse {
    background-color: #101010;
  }



  // application_with_navbarレイアウト
  #application-with-navbar-wrapper {
    position: relative;
    overflow-x: hidden;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .setting-button {
      position: fixed;
      right: 130px;
      top: 20px;
    }


    #sidebar-wrapper {
      z-index: 1000;
      left: 220px;
      width: 0;
      height: 100%;
      margin-left: -220px;
      overflow-y: auto;
      overflow-x: hidden;
      background: #1a1a1a;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    &:-webkit-scrollbar {
      display: none;
    }

  }


  #application-with-navbar-wrapper.toggled {
    padding-left: 220px;

    #sidebar-wrapper {
      width: 220px;
    }

    #page-content-wrapper {
      position: absolute;
      margin-right: -220px;
      width: 100%;
      padding-top: 70px;
    }
  }
  }


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

$sidebar-colors: #ec1b5a, #79aefe, #314190, #279636, #7d5d81, #ead24c;


@mixin sidebarHoverBefore($width:100%){
  width: $width;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;

  &.indexcity {
    z-index: 9999;
  }

  li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      // width: 3px;
      background-color: #1c1c1c;
      @include sidebarHoverBefore(3px)
    }
    &:first-child a {
      color: #fff;
      background-color: #1a1a1a;
    }

    @each $color in $sidebar-colors {
      $index: index($sidebar-colors, $color);
        &:nth-child(#{$index + 1}) {
          a:hover {
            background-color: $color;
          }
          &:before {
            background-color: $color;
          }
        }
      }

    a {
      display: block;
      color: #ddd;
      text-decoration: none;
      padding: 10px 15px 10px 30px;

      &:hover,
      &:active,
      &:focus {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
      }
    }

    &:hover:before{
      @include sidebarHoverBefore();
    }

    .open{
      &:hover:before{
        @include sidebarHoverBefore();
      }

      a{
        &:hover,&:active,&:focus{
          color: #fff;
          text-decoration: none;
          background-color: transparent;
        }
      }

    }
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
  }

}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

@mixin hoverBeforeAdjust($opacity: 0, $translated3d: 0){
  opacity: $opacity;
  display: block;
  -webkit-transform: translate3d($translated3d px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

@mixin beforeAdjust($color: #fff){
  content: '';
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
}

@mixin hambAdjust($color: white){
  background-color: $color;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

.hamburger {
  color: #fff;
  position: fixed;
  top: 12px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  background: transparent;
  border: none;

  &:hover, &:focus,
  &:active {
    outline: none;
  }

  &.is-closed {
    &:before {
      @include beforeAdjust();
      @include hoverBeforeAdjust();
    }
    &:hover {
      &:before {
        @include hoverBeforeAdjust(1,-100);
      }

      .hamb-top {
        top: 0;
        -webkit-transition: all .35s ease-in-out;
      }

      .hamb-bottom {
        bottom: 0;
        -webkit-transition: all .35s ease-in-out;
      }
    }

    .hamb-top {
      @include hambAdjust();
      top: 5px;
      -webkit-transition: all .35s ease-in-out;
    }

    .hamb-middle {
      @include hambAdjust();
      top: 50%;
      margin-top: -2px;
    }

    .hamb-bottom {
      @include hambAdjust();
      bottom: 5px;
      -webkit-transition: all .35s ease-in-out;
    }
  }

  &.is-open {

    &:hover {
      &:before {
        @include hoverBeforeAdjust(1,-100);
      }
    }

    &:before {
      @include beforeAdjust();
      @include hoverBeforeAdjust();
    }

    .hamb-top {
      @include hambAdjust();
      top: 50%;
      margin-top: -2px;
      -webkit-transform: rotate(45deg);
      -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }

    .hamb-middle {
      @include hambAdjust();
      display: none;
    }

    .hamb-bottom {
      @include hambAdjust();
      top: 50%;
      margin-top: -2px;
      -webkit-transform: rotate(-45deg);
      -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    }
  }
}


/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.0);
  z-index: 1;
}
