// ログインの本体部分

//文字のスタイル、大きさ、形
@mixin  font {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

//背景色と文字色
@mixin color($font_color, $background_color){
    color:$font_color;
    background-color:$background_color;
}

//高さと行間合わせ
@mixin height($height,$line-height){
  height:$height;
  line-height: $line-height;
  text-align: center;
}

.devise-wrapper {
  .tab_item_link {
    @include font;
    @include color(#fff,rgba(8,138,41,0.8));
    @include height(5vh,5vh);
    margin-top: 1vh;
    border-radius: 10px 10px 0 0;
    float: left;
    &:hover {
      @include height(6vh,5vh);
      position: relative;
      margin-top: 0;
    }
  }

  .tab_item_current{
    @include font;
    @include color(white,rgba(0,0,0,0.6));
    @include height(6vh,6vh);
    margin-bottom: 0;
    float: left;
  }

  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    padding-bottom:10%;
    clear: both;
    overflow: hidden;
    font-style: italic;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
  }

  .btn {
    @include font;
    @include color(white,#088A29);
    margin-top: 30px;
  }
}
