.devise-wrapper {
  .tab_item_link {
    font-style: italic;
    width: 50%;
    height: 50px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    background-color: #fdb137;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      color:#fff;
      opacity: 0.75;
    }
  }

  .tab_item_current{
    font-style: italic;
    width: 50%;
    height: 50px;
    margin-bottom: 0;
    background-color: rgba(253, 177, 55, 0.1);
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color:#fdb137;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;

  }

  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    padding-bottom:10%;
    clear: both;
    overflow: hidden;
    font-style: italic;
    text-align: center;
    background-color: rgba(253, 177, 55, 0.1);
  }

  .btn {
    margin-top: 30px;
    background-color:#fdb137;
    color:white;
    font-size: 16px;
    font-weight: bold;
    width:80%;
    
  }
}
