// home#indexページ
.index{
  h1 {
    margin-top: 6vh;
    font-size: 3vw;
    font-weight: bold;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .table{
    margin-top: 3vh;
    .thead-dark{
      font-size: 1.5vw;
      th{
          height:10vh;
        }
      }
    tbody {
      .hurry{
        th, td {
          color:red;
          font-weight: bold;
        }
      }
      .font {
        th, td{
        font-size: 2vh;
        }
      }
    }
  }
}
