
// home#indexページ
.hurry{
  th, td {
  color:red;
  }
}

.font {
  th, td{
  font-size: 18px;
  }
}

.table{
  margin-top: 50px;
  .thead-dark{

    font-size: 18px;
    th{
        height:70px;
      }
    }
  }
