.bar{
  background-color: skyblue;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
}

.btnGear{
    position: fixed;
    top: 3px;
    right: 110px;
    font-size: 35px;
    color: black;
}

// .navbar-brand{
//   position: fixed;
//   top: 0px;
//   right: 55px;
//   color: black;
// }

.proImage{
  position: fixed;
  top: 5px;
  right: 55px;
  width: 40px;
  height: 40px;
}

// header {
//   padding:10px;
//   background: skyblue;
// }

ul{
  // top: 0px;
  // left: 0px;
  // width: auto;
  height: 100%;
  background: red;
  overflow: hidden;
}
// body header nav ul{
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: auto;
//   height: 100%;
//   background: red;
//   overflow: hidden;
// }


ul{
  list-style: none;
}

.drawer-brand{
  font-size: 50px;
}
