
// 検索boxの周りの余白
.input-group {
  margin-top: 5vh;
  margin-bottom: 4vh;
}

// 一覧のリスト要素の位置固定
.items-index-wrapper {
  table tbody tr td {
    display: table-cell;
    vertical-align: middle
  }
}

// 貸出中ラベルのサイズ固定
.badge.badge-red {
  background-color: red;
  font-size: 14px;
  padding: 10px 12px;
}

// new.htnl.erb
.col-md-offset-0 {
  margin-top: 50px;
}


.form_sub_wrapper {
  background-color:#D8D8D8 ;
  padding: 2vh;
  margin-top: 8vh;
  .form_main_wrapper {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding: 3vh;
    .form-group {
      width:80%;
    }
    .form-check-input {
      margin-right: 5px;
    }
    h1 {
      background: linear-gradient(transparent 70%, #a7d6ff 70%);
    }
    .btn {
      background-color:#2E9AFE;
      color:white;
    }
  }
}
