// registrations#new
.registrations-new-wrapper{
  background-image: url("/background.jpg");
  background-size: cover;
  height: 100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  .signup-main-wrapper {
  .title {
    h1 {
      color:white;
      font-size: 6vh;
      font-style: italic;
    }
  }

 .signup-sub-wrapper {
   .signup-menu-wrapper {
     margin: 0 20% 0 20%;
     h2{
       font-weight: bold;
       color:#fdb137;
     }

     .error_field{
       color:#c89137;
       text-align: left;
     }

     input{
       height: 4vh;
       width: 13vw;
       padding-left: 8px;
       border: 1px solid #ccc;
     }
   }
  }
 }
}
// end of regstrations#new
