<%= form_tag('/lendings', :method => :patch) do %>
  <div class="modal-body">
    <h4 class="modal-name">Name</h4>
    <div class="controls">
      <%= hidden_field :update, :lending_id %>
      <%= text_field :update, :dead_line, :class => 'form-control datetimepicker', placeholder: 'Deadline' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
    <!-- <button type="button" class="btn btn-primary">変更を保存</button> -->
    <%= submit_tag "延長する", class: "btn btn-primary" %>
  </div>
<% end %>
